{% extends 'main.html' %}

{% block context %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h4 class="text-center mb-4">Регистрация на сайте</h4>
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
